<!DOCTYPE html>
<html lang='en'>
<head>
	<meta charset='utf-8' />
	<title>Seedr</title>
	<meta content='width=device-width, initial-scale=1.0' name='viewport' />
	<meta content='' name='description' />
	<meta content='' name='author' />
	
	<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.css" />	<link rel="stylesheet" type="text/css" href="/stylesheets/home.css" />	</head>
	<link rel="stylesheet" href="/stylesheets/basic.css" type="text/css">
        
        <link rel="stylesheet" href="/basic_ie.css" type="text/css">
        <script type='text/javascript' src='/js/jquery.js'></script>
		<script type='text/javascript' src='/js/jquery.simplemodal.js'></script>
		<script type='text/javascript' src='/js/basic.js'></script>
		<script type='text/javascript' src='/js/jquery-1.7.2.min.js'></script>
	<body>
		<div class="container">
			<div id="header" class="span12">
				<h1>Seedr</h1>
			</div>
			<div class="span12">
				<!--<div class="depot_form">!-->
				<div class="span5">
					<h3><strong>STEP 1 - Create your account -- COMPLETE!</h3>
				</div>
				
			<div style="height: 50px">
					</div>
				<div class="span10">
					<h3>STEP 2 - Add your twitter account -- COMPLETE!</h3>
				</div>
				<div class="span6">
					
				</div>
				<div style="height: 50px">
					</div>
				<div class="span4">
					<h3>STEP 3 - Add your topic of interest: </h3>
				</div>
				<div class="span6">
					<form>
						<div class="span6">
					<input type="text" name="keywords" / >
					</div>
					<div style="height: 20px"></div>
					<div class="span6">
					<div id='basic-modal'>	
	    			<input name="submit" type="button" value="submit" class='basic' onclick="redirectSubmit()"/>
	    			</div>
					</form>
				</div>
				<div id="basic-modal-content">
					<h3>Thank you!</h3>
					<br />
					<p>Thank you for signing up. Your request is being processed and we'll get back to you within 24 hours</p>
				</div>
				<div style="display: none">
					<img src='/images/x.png' alt='' id="close" class="close" onclick="redirectModalClose()" />
				</div>
				</div>
			</div>
			<div class='span12' id='footer' style="margin-top: 250px">
				<div class='row'>
					<div class='span3'>
						<ul class="nav nav-pills">
							<div>
							<a href="https://twitter.com/SeedrSocial" class="twitter-follow-button" data-show-count="false">Follow @SeedrSocial</a>
							</div>	
							<div class="fb-like" data-href="http://www.facebook.com/SeedrSocial" data-send="false" data-layout="button_count" data-width="450" data-show-faces="false"></div>
												
						</ul>
					</div>
					<div class='span8' id='copyright'><p>Contact us at contact@seedrsocial.com | &copy;2012 Seedr. All rights reserved.</p></div>
				</div>
			</div>
		</div> <!--container!-->
		<div id="fb-root"></div>
		
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=386595491374845";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script>
<script>function redirectSubmit() {	 
	              document.all["keywords"].value = '';
	          }
</script>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script>
<!-- <script src="/assets/jquery_ujs.js?body=1" type="text/javascript"></script> -->
<script type="text/javascript" src="/js/bootstrap.min.js"></script></body>
</html>