

    <div class="container">

      <div class="content">
        <div class="page-header">
            <h1>SocialCurator<small>find and decide what to post</small></h1>
        </div>
        <div class="row">
          <div class="span6">
            <form>
				<input type="radio" name="source" value="Add" /> Add &nbsp;
				<input type="radio" name="source" value="Remove" /> Remove
			</form>
            <h3>Source</h3>
           	<form>
           		<input type="text" name="addSource" class="span3"/> 
           
            		<button type="submit" class="btn btn-primary">Submit</button>
            	
           	</form>
           	
           	<div></div>
              
              	 <h3>List of added sources</h3>
              <ul>
              	<li>Facebook</li>
              	<li>Twitter</li>
              	<li>Blog1</li>
              	<li>Blog2</li>
              	</ul>
              	
              	<div style="padding-bottom: 10px"></div>
           	 <form>
				<input type="radio" name="source" value="Add" /> Add &nbsp;
				<input type="radio" name="source" value="Remove" /> Remove
			</form>
             <h3>Keyword</h3>
             <form>
            		<input type="text" name="addKeyboard" class="span3"/> 
            		<button type="submit" class="btn btn-primary">Submit</button>
            	</form>
            	
			<div></div>
			 <h3>List of added keywords</h3>
              <ul>
              	<li>Keyword1</li>
              	<li>Keyword2</li>
              	<li>Keyword3</li>
              	<li>Keyword4</li>
              	</ul>
              
            	
	 		</div>
          <div class="span3">
         <%= button_to "Add a new search bin", {:controller => 'search_bins', :action => "new" },{:class => "btn-primary" } %>
	      
          <%= button_to "Connect with Twitter", {:controller => 'twitter_accounts', :action => "new" },{:class => "btn-primary" } %>    
              
            
          </div>
          
        </div>
      </div>
	
      <footer>
        <p>&copy; Big Data 2012</p>
      </footer>

    </div> <!-- /container -->
    <script src="/js/bootstrap-collapse.js"></script>

