
<!DOCTYPE html>
<html lang='en'>
<head>
	<meta charset='utf-8' />
	<title>Seedr</title>
	<meta content='width=device-width, initial-scale=1.0' name='viewport' />
	<meta content='' name='description' />
	<meta content='' name='author' />
	
	<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.css" />	<link rel="stylesheet" type="text/css" href="/stylesheets/home.css" />	</head>
<body>
			<div class='container'>
	<div class='row'>
		<div class='span12' id='header'>
			<div class='row'>
				<div class='span2' id='logo' onclick="window.location='/'">
					<h1>Seedr</h1>
				</div>
				<!--<div class='span10' id='login-register'>
					
					<ul class="nav nav-pills">
											  	<li class="" style="float:right;">
						    <a class=""
						       data-toggle="modal"
						       href="">
						        Login
						      </a>
						</li>
					  					</ul>

					
					
					
				</div>!-->
			</div>
		</div>
		
		<div id="main" class="span12">
			<table>
				<td>
			<div class="row">
				
				<div class="span5 offset1">
					<img src="images/tree.png" height="2000" width="300" />
					
					
					</div>
			</div>
			</td>
			<td>
			<div class="row">
				<div id="submit-form" class="span7 offset1">
				<div>
			<img src="images/seedr-logo.png" /></div>
			<div>Use Seedr to <b>fill your social media feeds</b> with content that your <br/>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				 followers want to see! <br /> 
				 We are hard at building the site right now, but we will let you know <br /> 
				 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				 when we are ready for you... </div>
				
				<br />
				<br />
<br/>
			
				<form action="/prospective_users" method="post">
				<input type="text" name="prospective_user[email]" value="Enter your email to receive updates" onclick= "if(this.value=='Enter your email to receive updates')
				{this.value=''; this.style.color='#000'}" 
    onblur="if(this.value==''){this.value='Enter your email to receive updates'; this.style.color='#555'}" / >
    			<input type="submit" />
				</form>
				</div>
				
			</div>
		</td>
		</div>
		</table>
		<br />
		<br />

<div class='span12' id='footer'>
			<div class='row'>
				<div class='span8' id=''>
					<ul class="nav nav-pills">
						<a href="https://twitter.com/SeedrSocial" class="twitter-follow-button" data-show-count="false">Follow @SeedrSocial</a>
		<div class="fb-like" data-href="http://www.facebook.com/SeedrSocial" data-send="false" data-layout="button_count" data-width="450" data-show-faces="false"></div>
						
					</ul>
				</div>
				<div class='span4' id='copyright'><p>&copy;2012 Seedr. All rights reserved.</p></div>
			</div>
		</div>
	</div>
</div> <!-- /container -->



<div class='modal hide fade' id='myModal'>
	<a class='close' data-dismiss='modal' style='margin:10px 15px 0px 0px;'>x</a>
	<div class='modal-body'>
		<ul class='nav nav-tabs'>
			<li class='active'><a data-toggle='tab' href='#login' id='blah'>Login</a></li>
			
		</ul>
		<div class='tab-content'>
			<div class='tab-pane active' id='login'>
				<div class="row">
					<div class="span3">
				<form action="/users/login" controller="users" id="UserLoginForm" method="post" accept-charset="utf-8">
					<div style="display:none;">
						<input type="hidden" name="_method" value="POST"/>
					</div><fieldset>
						<div class="input text required">
					<label for="UserUsername">Username</label>
					<input name="data[User][username]" maxlength="255" type="text" id="UserUsername"/>
					</div><div class="input password required">
						<label for="UserPassword">Password</label>
						<input name="data[User][password]" type="password" id="UserPassword"/></div></fieldset>
				
				<div class="submit"><input  class="btn" type="submit" value="Login"/></div>				</form>				</div>
			
				
			</div>
		</div>
	</div>
	<!-- <div class='modal-footer'>
		<a class='btn btn-primary' href='#'>Go</a>
		<a class='btn' href='#'>Close</a>
	</div> -->
</div>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=386595491374845";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script>
<!-- <script src="/assets/jquery_ujs.js?body=1" type="text/javascript"></script> -->
<script type="text/javascript" src="/js/bootstrap.min.js"></script></body>
</html>
