<html>
	
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="stylesheet" href="/stylesheets/basic.css" type="text/css">
        <link rel="stylesheet" href="/stylesheets/demo.css" type="text/css">
        <link rel="stylesheet" href="/basic_ie.css" type="text/css">
         <link rel="stylesheet" href="/stylesheets/bootstrap.css" type="text/css">
        <script type='text/javascript' src='/js/jquery.js'></script>
		<script type='text/javascript' src='/js/jquery.simplemodal.js'></script>
		<script type='text/javascript' src='/js/basic.js'></script>
		<script type='text/javascript' src='/js/jquery-1.7.2.min.js'></script>
		 <script type="text/javascript">
	          function redirectSubmit() {	 
	              document.all["email"].value = '';
	          }

		  function redirectLogin() {	 
	              document.location.href = "/login";
	          }

		  function redirectRegister() {	 
	              document.location.href = "/users/new";
	          }
		</script>
		<script type="text/javascript">
			var _gaq = _gaq || [];
  			_gaq.push(['_setAccount', 'UA-28404578-1']);
  			_gaq.push(['_trackPageview']);

  			(function() {
    			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  			})();

		</script>
		<style type="text/css">
			body
			{
				/*background-color:#A34814;*/
				background-image:url('/images/sidebar-solid_green.png');
			}
		</style>
	</head>
	<body>
	<div class="container">
		<div>    
 			<!--<div class="page-header">!-->
 				<img src="images/tree.png">
          <font color="5F3D17" size="20">Seedr</font>
        </div>
	<br/>
	<div class="span6" style="text-align:justify">
		
	    	<font color="#1E4D2B" size="3"><b><i>
	    	Seedr is a new web tool that provides conversation starters for social media. We're hard at work building the tools 
	    	to help you grow your community. Leave your email to get updates and invitation for our Beta release that starts May 15th" 
	    	<br/><br /></i></b</font>
		<div>
			<form>
        	
            			<div id='basic-modal'>
					Email:<input type="text" name="email"  />        	 
				</div>	
            			<div style="float: left; width: auto;"><%= button_to "Submit", {:controller => 'prospective_users', :action => "create" },{:class => "btn-primary" } %> </div>
            		</form>
</div>
			<!--<form  action=/prospective_users class="new_prospective_user" method="post">
			<div id='basic-modal'>
			
 				Email:<input type="text" name="email"/><br /><br />
 			<input name="submit" type="button" value="submit" class='basic' onclick="redirectSubmit()"/>	
			</form> 
			
			
			</div>!-->
			<br />
			<div id="basic-modal-content">
			<h3>Thank you!</h3>
			<p>Thank you for signing up. We'll keep you posted on our updates.</p>
			<p>Share this with your friends..</p>
			
			<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://seedrsocial.com" data-text="Seedr" data-via="SeedrSocial" data-hashtags="seedrsocial">Tweet</a>
			<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script> 
			<a name="fb_share"></a> 
			<script src="http://static.ak.fbcdn.net/connect.php/js/FB.Share" type="text/javascript">
			</script>
		</div>
		<div style="display: none">
			<img src='/images/x.png' alt='' />
		</div>
	</div>

	<div id='footer'>
		Thoughts? Feedback? Contact us via email at feedback@SeedrSocial.com | &copy; Seedr 2012 | Follow us <a href ="http://twitter.com/#!/seedrsocial" target="_blank"> <INPUT type="image" src="images/twitter-logo.png" border="0"> </a> <a href ="http://www.facebook.com/SeedrSocial" target="_blank"><INPUT type="image" src="images/fb-logo.png" border="0"></a>
	</div>
		
</div>
</body>
</html>
