<!DOCTYPE html>
<html lang='en'>
<head>
	<meta charset='utf-8' />
	<title>Seedr</title>
	<meta content='width=device-width, initial-scale=1.0' name='viewport' />
	<meta content='' name='description' />
	<meta content='' name='author' />
	
	<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.css" />	<link rel="stylesheet" type="text/css" href="/stylesheets/home.css" />	</head>
	<body>
		<div class="container">
			<div id="header" class="span12">
				<h1>Seedr</h1>
			</div>
			<div class="span12">
				<div class="row">
					<table class="span12">
						<td class="span6">
							<img src="/images/tree.png" height="2000" width="400" />
						</td>
						<td class="span6">
							<div>
								<img src="/images/seedr-logo.png" height="100" width="400" />
							</div>
							<div>
								Seedr to <b>fill your social media feeds</b> with content that your <br/>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				 				followers want to see! <br /> <br />
				 				Get Started with Seedr here..
				 			</div>
								
								<br/>
							<div class="offset2">
								<a href="/users/new" class="btn btn-info">GET STARTED</a>
							</div>
						</td>
					</table>
				</div>
			</div>
			<div class='span12' id='footer' style="margin-top: 250px">
				<div class='row'>
					<div class='span3'>
						<ul class="nav nav-pills">
							<div>
							<a href="https://twitter.com/SeedrSocial" class="twitter-follow-button" data-show-count="false">Follow @SeedrSocial</a>
							</div>	
							<div class="fb-like" data-href="http://www.facebook.com/SeedrSocial" data-send="false" data-layout="button_count" data-width="450" data-show-faces="false"></div>
												
						</ul>
					</div>
					<div class='span8' id='copyright'><p>Contact us at contact@seedrsocial.com | &copy;2012 Seedr. All rights reserved.</p></div>
				</div>
			</div>
		</div> <!--container!-->
		<div id="fb-root"></div>
		<script>(function(d, s, id) {
			var js, fjs = d.getElementsByTagName(s)[0];
			if (d.getElementById(id)) return;
		  	js = d.createElement(s); js.id = id;
		  	js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=386595491374845";
		  	fjs.parentNode.insertBefore(js, fjs);
			}(document, 'script', 'facebook-jssdk'));</script>
		<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script>
		<!-- <script src="/assets/jquery_ujs.js?body=1" type="text/javascript"></script> -->
		<script type="text/javascript" src="/js/bootstrap.min.js"></script>
	</body>
</html>
